{"filter":false,"title":"database.yml.sample","tooltip":"/raisetech-live8-sample-app/config/database.yml.sample","undoManager":{"mark":1,"position":1,"stack":[[{"start":{"row":16,"column":12},"end":{"row":16,"column":26},"action":"insert","lines":["NASdadsjoja78+"],"id":1}],[{"start":{"row":16,"column":12},"end":{"row":16,"column":26},"action":"remove","lines":["NASdadsjoja78+"],"id":2}]]},"ace":{"folds":[],"scrolltop":180,"scrollleft":0,"selection":{"start":{"row":23,"column":34},"end":{"row":23,"column":34},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":11,"state":"start","mode":"ace/mode/text"}},"timestamp":1717484847908,"hash":"b2ec52e9fe3af96274b02308a6093197087a7b9e"}