{"filter":false,"title":"puma.service.sample","tooltip":"/raisetech-live8-sample-app/samples/puma.service.sample","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":333.33333333333337,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":0,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":24,"state":"start","mode":"ace/mode/text"}},"timestamp":1717331300897,"hash":"253fa29e36655f0cece20d7a3c19ed51478d8498"}